
#main_window{
    width: 1540px;
    height: 1000px;
	margin: 0 auto;
}

#top{
    height: 80px;
    width: 1520px;
    border-style:solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    margin: 0 10px 10px 10px;
}

#left{
    float: left;
    width: 320px;
    height: 1000px;
}

#ifm{
    width: 300px;
    height: 400px;
    border-style:solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    margin: 0 10px 10px 10px;
}


#index{
    width: 300px;
    height: 400px;
    border-style:solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    margin: 0 10px 10px 10px;
}

#right{
    float: left;
    width: 1220px;
    height: 1000px;
}

#text_window{
    width: 1200px;
    height: 1000px;
    border-style:solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    margin: 0 10px 0 10px;
}